@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: linear-gradient(to right,#649173,#dbd5a4);
}
  .main_container {
    padding: 0;
  }
/* ========================================================================== */


/* Форма для ввода */
/* ========================================================================= */
.header_container{
    background: linear-gradient(to right,#5d9770,#dad192);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.input_container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.todo_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    color: lemonchiffon;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

.form__input {
    font-family: 'Amatic SC', cursive;
    color: rgb(3, 3, 3);
    font-size: 22px;
    margin: 0 20px 0 0;
    padding: 1.5rem 2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 66.5%;
    height: 50px;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
/* ======================================================================= */


/* Кнопка для добавления */
/* ======================================================================= */
.btn__input {
    font-size: 23px;
    font-weight: 200;
    color: black;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    padding: 13px 25px 13px;
    outline: 0;
    border: 1px solid rgb(241, 238, 238);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
  }
  
  .btn__input::after {
    content: "";
    background-color: #fdf9e2;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .btn__input:hover:after {
    top: 0px;
    left: 0px;
  }
/* ========================================================================== */


/* Карточки */
/* ========================================================================== */

  .card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 150px;
  }
  

  .card {
    margin: 10px;
    padding: 10px 10px 20px 20px;
    width: 350px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    background: radial-gradient(#faffd1,#a1ffce );
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }
  .card__content {
    max-width: 320px;
    font-weight: 400;
    color: #000000;
    font-size: 22px;
    font-family: 'Caveat', cursive;
    word-break: break-all;
  }
  /* ============================================================================================== */


  /* Контейнер для кнопок: закрыть (и в будующем для чек бокса)*/
  /* ============================================================================================= */
.btn_Container {
  display: flex;
  justify-content:space-between;
  height: 0;
}

.btn_close{
  background: none;
  color: transparent;
  cursor: pointer;
  margin-top: 12px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 75px;
  outline: none;
  overflow: hidden;
  position:inherit;
  text-transform: uppercase;
  transform: translate(-10%, -10%);
  transition: all 0.2s ease-in;
  width: 30px;
  height: 30px;
}

.btn_close:before,
.btn_close:after {
  background-color: white;
  content: 'БУ';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

.btn_close:before {
  top: 0;
  transform: rotate(45deg);
}

.btn_close:after {
  bottom: 0;
  transform: rotate(-45deg);
}

.btn_close:hover {
    color: #8A2387;
    border-radius: 8px;
}

.btn_close:hover::before,
.btn_close:hover::after {
  
  height: 50px;
  transform: rotate(0deg);
}

.check {
  margin-top: 15px;
  width: 20px;
  height: 20px;
}
/* ========================================================================== */


/* Кнопка редактирования формы */
/* ========================================================================== */
.btn_edit {
  cursor:pointer;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: 175px;
  background-color: #fdf9e2;
  border-radius: 8px;
  text-decoration: none;
  font-family: 'Caveat', cursive;
  height: 30px;
  width: 95px;
}

/* ========================================================================== */


/* Модальное окно */
/* ============================================================================ */
.modal-container {
	pointer-events: none; 
  opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0);
  transition: opacity .3s, background-color .5s;
}

.is-open {
	opacity: 1;
	pointer-events: all;
  z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	overflow: auto;
	width: 100%; 
  height: 100%; 
  max-width: 400px; 
  max-height: 328px;
	padding: 20px 20px;
  background: radial-gradient(#faffd1,#a1ffce );
  border-radius: 10px;
}

.textinput {
  background: radial-gradient(#f3f1f8,#caf1c8 );
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  border: 1px solid #000000;
  resize:none;
  overflow: hidden;
  width: 100%;
}

.textinput:focus {
  outline: none;
  }

.close {
    display: flex;
    justify-content:flex-end;
    cursor: pointer;
    height: 5px;
    padding-bottom: 35px;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: rgb(252, 251, 251);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.controlBtn {
    display: flex;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 10px;
}

.save{
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: rgb(8, 99, 99);
  display: inline-block;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  position: relative;
  border: 3px solid rgb(8, 99, 99);
  border-radius: 25px;
}

.save:hover {
    background-color: rgb(8, 99, 99);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: #ffffff;
}


.cancel {
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: rgb(116, 1, 1);
  display: inline-block;
  padding: 10px 35px 10px 35px;
  position: relative;
  border: 3px solid rgb(116, 1, 1);
  border-radius: 25px;
}

.cancel:hover {
    background-color: rgb(116, 1, 1);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    color:#ffffff;
    cursor: pointer;
}

/* =========================================================================== */



  @media (max-width: 1600px) {
    .card_container {
      justify-content: center;
    }
  }

  @media (max-width: 380px) {
     .controlBtn {
      display: inline-block;
      text-align: center;
      margin: 0 30px 0 30px;
    }
    .cancel {
      padding: 8px 25px 8px 25px;
    }
    .save{
      padding: 8px 14px 8px 14px;
      margin-right: 3px;
      margin-bottom: 3px;
    }
  }